extends layout

block content
  h1= title
  - let items = results
  div(claass="container-fluid mt-3")
   div(class="row m-1")
    each item,index in items
     - let destination = `dispatch(\"/van/update?id=${item._id}\")`
        div(class="row" onclick=`buy(${index})`)
            div(class="col-sm-2") #{item.van_color}
            div(class="col-sm-2") #{item.van_size} 
            div(class="col-sm-2") #{item.van_cost}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
   function buy(itemNo)
   {
     alert(`You purchased Item ${itemNo+1}`)
   }
   function dispatch(path)
   {
     window.location.href=path
   }
    
    
