extends layout

block content
  h1= title
   - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.van_color}
          p size is #{item.van_size}
          p Cost is #{item.van_cost}
          //- Bonus Logic
  script.
    buy= (i) =>{
      i+=1;
      alert(`You Purchased Item ${i}`);
    }  
    
    
